{% import "macros/formatters.html" as formatters %}
{%- import "macros/shortcodes.html" as shortcodes -%}

{% macro event_circle(e) %}
<a href="{{ e.permalink }}" class="text-decoration-none event-hover">
  <div class="event-circle mt-0" style="background-color: {{ formatters::colour(colour=e.extra.colour) }}"
    data-bs-theme="dark">
    {% if e.extra.icon %}<span class="event-icon">{{ shortcodes::icon(icon=e.extra.icon) }}</span> {% endif %}
    <b class="event-title">{{ e.title }}</b>
    <span class="event-extras">
      {{ e.extra.location }}<br>
      {{ formatters::event_time(e=e) }}
    </span>
  </div>
</a>
{% endmacro %}


{% macro day(events) %}
{% if events[0].extra.display_day %}{% set date = events[0].extra.display_day %}
{% else %}{% set date = events[0].date | date(format="%A") %}{% endif %}
<div class="event-outer bg-body rounded-4 text-center text-white" data-event-count="{{ events | length }}">
  {% if date %}
  <h4 class="fw-semibold">{{ date }}</h4>
  {% endif %}
  <div class="day">
    {% for e in events | sort(attribute="date") %}
    {{ events::event_circle(e=e) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}


{% macro week(w, events="", title="") %}
{% if not events %}
{# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
{# Because Tera is annoying, lists get cast to string when passing through macros, so we have to duplicate #}
{% set events = w.pages | sort(attribute="date") %}
{% endif %}

{% set prev_day = "" %}
{% set days_events = [] %}
<div class="week w-100 text-center my-4">
  {% if title %} <h2><a class="link-body-emphasis text-decoration-none" href="{{ w.permalink | safe }}">{{ title }}</a>
  </h2> {% endif %}
  <div class="events d-grid justify-content-center">
    {% for e in events %}
    {% if e.extra.display_day %}{% set e_day = e.extra.display_day %}
    {% else %}{% set e_day = e.date | date(format="%A") %}{% endif %}
    {% if e_day != prev_day %}
    {# Output previous day's content #}
    {% if days_events %}
    {{ events::day(events=days_events) }}
    {% set_global days_events = [] %}
    {% set_global started = true %}
    {% endif %}
    {% set_global prev_day = e_day %}
    {% endif %}
    {% set_global days_events = days_events | concat(with=e) %}
    {% endfor %}

    {# Clean up remaining days_events #}
    {% if started %}
    {% if days_events %}
    {{ events::day(events=days_events) }}
    {% endif %}
    {% endif %}
  </div>
</div>
{% endmacro %}

{% macro term(t, weeks="", title="", week_no=-1, archive=false) %}
{% if not weeks %}
{# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
{# Because Tera is annoying, lists get cast to string when passing through macros, so we have to duplicate #}
{% set weeks = [] %}
{% for ss in t.subsections %}
{% set week = get_section(path=ss) %}
{% set_global weeks = weeks | concat(with=week) %}
{% endfor %}
{% set weeks = weeks | sort(attribute="extra.base_date") %}
{% endif %}
{% set added_event = false %}

<div class="term blue" data-bs-theme="dark">
  {% if title %}<h1><a class="link-body-emphasis text-decoration-none" href="{{ t.permalink | safe }}">{{ title }}</a>
  </h1>{% endif %}
  <div class="weeks w-100 {% if archive %}reverse{% endif %}">
    {% for week in weeks %}
    {# Compare weeks (ignore past/future) #}
    {% set e_year = week.extra.base_date | date(format="%Y") | int %}
    {% set e_week = week.extra.base_date | date(format="%W") | int %}
    {% set e_week_no = e_week + 54 * e_year %}

    {% if not archive and week_no > 0 %}
    {% if e_week_no < week_no %} {% continue %} {% endif %} {% elif week_no> 0 %}
      {% if e_week_no > week_no %}{% continue %}{% endif %}
      {% endif %}
      {% set_global added_event = true %}
      {{ events::week(w=week, title=week.title) }}
      {% endfor %}
      {% if not added_event %}
      <h2 class="text-center">No events {% if archive %}finished{% endif %} yet, please check back soon™</h2>
      {% endif %}
  </div>
</div>
{% endmacro %}


{% macro script() %}
<script>
  combs = {
    1: [[1, 1]],
    2: [[2, 1], [1, 2]],
    3: [[3, 1], [2, 2], [1, 3]],
    4: [[2, 2]],
    5: [[3, 2], [2, 3]],
    6: [[3, 2], [2, 3]],
  }

  function next_cell(loc, shift = 1) {
    loc[0] += shift;
    if (loc[0] >= cols) {
      loc[0] = 0;
      loc[1] += 1;
    }
  }

  function pack(i, grid, day, loc, cols) {
    if (day.dataset.eventCount > 6) return `day-${cols}-1x${cols}`;
    layouts = combs[day.dataset.eventCount];
    for (var dim of layouts) {
      // console.log(`Trying ${dim}, ${loc}`);
      if (fits(dim, loc, grid, cols)) {
        set_region(i, dim, loc, grid);
        return `day-${cols}-${dim[0]}x${dim[1]}`;
      }
    }
    return undefined;
  }

  function fits(dim, loc, grid, cols) {
    if (loc[0] + dim[0] > cols) return false;

    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) continue;
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {
        if (grid[y][x] != -1) return false;
      }
    }
    // console.log("Fits");
    return true;
  }

  function set_region(i, dim, loc, grid) {
    // console.log("Filling");
    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) grid.push(Array.from({ length: cols }, () => -1));
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {

        // console.log("Filling", x, y, i);
        grid[y][x] = i;
      }
    }
    next_cell(loc, dim[0]);
  }

  var week_events = document.getElementsByClassName("events");
  for (var week of week_events) {
    for (var cols of [2, 3]) {
      var grid = Array.from({ length: 3 }, () => Array.from({ length: cols }, () => -1));
      var pos = [0, 0];
      // console.log(`ecols ${cols}`);
      for (const [i, day] of Array.prototype.entries.call(week.children)) {
        // console.log(i, day.dataset.eventCount);
        while (true) {
          let p = pack(i, grid, day, pos, cols);
          if (!p) next_cell(pos);
          else {
            day.classList.add(p);
            break
          }
        }
        // console.log(grid);
      }
    }
  }
</script>
{% endmacro %}