
{% import "macros/formatters.html" as formatters %}

{% macro event_circle(e) %}
<a href="{{ e.permalink }}" class="text-decoration-none">
<div class="event-circle mt-0" style="background-color: {{ e.extra.colour }}" data-bs-theme="dark">
{% if e.extra.icon %}
<span class="event-icon">
  {% if e.extra.icon is starting_with("ph-") %}<i class="ph-bold {{ e.extra.icon }}"></i>
  {% elif e.extra.icon is starting_with("bi-") %}<i class="bi {{ e.extra.icon }}"></i>
  {% else %} <div class="icon"><img class="silhouette" src="{{ config.base_url | safe }}/{{ e.extra.icon }}" alt="event icon"></img></div>
  {% endif %}
</span> {% endif %}
<b class="event-title">{{ e.title }}</b>
<span class="event-extras">
  {{ e.extra.location }}<br>
  {% if e.extra.time %} {{ e.extra.time }}
  {% else %} {{ formatters::time(time=e.date) }}
  {% endif %}
</span>
</div>
</a>
{% endmacro %}

{% macro start_term() %}
<div class="term blue w-100 vstack align-items-center p-3 gap-4">
{% endmacro %}

{% macro term_heading(curr_week, week_term) %}
{% if curr_week.weekNumber == 0 %}<h1>Welcome Week</h1>
{% else %} <h2>{{ week_term | trim_end_matches(pat=" Vacation") }}</h2>
{% endif %}
{% endmacro %}

{% macro start_week(curr_week, term_week_no) %}
<div class="week w-100 text-center">
{% if curr_week %}
  {% if curr_week.weekNumber != 0 %}
    <h4>Week {{ term_week_no }}</h4>
  {% endif %}
{% endif %}
<div class="events d-grid justify-content-center">
{% endmacro %}

{% macro day(events) %}
  {% set date = events[0].date %}
<div class="event-outer bg-body rounded-4 text-center text-white" data-event-count="{{ events | length }}">
  {% if date %}
    <h4 class="fw-semibold">{{ date | date(format="%A") }}</h4>
  {% endif %}
  <div class="day">
    {% for e in events %}
      {{ events::event_circle(e=e) }}
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro end_week() %}
</div>
</div>
{% endmacro %}

{% macro end_term() %}
</div>
{% endmacro %}
