{% import "macros/formatters.html" as formatters %}
{%- import "macros/shortcodes.html" as shortcodes -%}
{% import "macros/rooms.html" as rooms %}

{% macro event_circle(e) %}
<a href="{{ e.permalink }}" class="text-decoration-none event-hover" aria-label="See event {{ e.title }}">
  <div class="event-circle mt-0" style="background-color: {{ formatters::colour(colour=e.extra.colour) }}"
    data-bs-theme="dark">
    {% if e.extra.icon %}<span class="event-icon">{{ shortcodes::icon(icon=e.extra.icon) }}</span> {% endif %}
    <b class="event-title">{{ e.title }}</b>
    <span class="event-extras">
      {{ formatters::event_location(resource=e, icon=false, link=false) }}<br>
      {{ formatters::event_time(e=e) }}
    </span>
  </div>
</a>
{% endmacro %}

{% macro event_info(resource, large, page=true)%}
{% if page %}
<a href="{{resource.permalink}}" class="my-2 text-decoration-none text-white card-hover d-block">
  {% endif %}
  <div class="card text-body-emphasis" {% if resource.extra.colour -%}
    style="background-color: {{ formatters::colour(colour=resource.extra.colour) }}80 !important" {%- endif -%}>
    <div class="card-body">
      <{%- if large -%}h1{%- else -%}h4{% endif %}
        class="card-title two-line-clamp {% if not large %}d-inline{% endif %}">
        {%- if resource.extra.icon %}{{ shortcodes::icon(icon=resource.extra.icon, baseline=true) }} {% endif -%}
        {%- if resource.extra.emoji %}{{resource.extra.emoji}}{% endif -%}
        <span>{{ resource.title }}</span>
        {%- if resource.extra.emoji %}{{resource.extra.emoji}}{% endif -%}
      </{%- if large -%}h1{%- else -%}h4{%- endif -%}>

      {% if large %}
      {% if resource.taxonomies %}
      {% for tax, terms in resource.taxonomies %}
      {% for term in terms %}
      <a class="badge bg-secondary text-decoration-none ms-1 mb-3" {% set t=get_taxonomy_term(kind=tax, term=term) %}
        href="{{ t.permalink }}" aria-label="View all events tagged with {{ term }}">
        {{ term }}
      </a>
      {% endfor %}
      {% endfor %}
      {% endif %}

      <h4>
        {{ shortcodes::icon(icon="ph-clock") }}
        {{ formatters::event_date_range(e=resource) }}
      </h4>
      <h4>
        {{ formatters::event_location(resource=resource, link=not page) }}
      </h4>
      {% else %}
      <p class="d-inline">
        {{ shortcodes::icon(icon="ph-clock") }}
        {{ formatters::event_time_range(e=resource) }}
        {{ formatters::event_location(resource=resource, link=not page) }}
      </p>
      {% endif %}
    </div>
  </div>
  {% if page %}
</a>
{% endif %}
{% endmacro %}


{% macro day(events,grid=true) %}
{% if events[0].extra.display_day %}
{% set date = events[0].extra.display_day %}
{% else %}
{% set date = events[0].date | date(format="%A") %}
{% endif %}
{% if grid %}
<div class="event-outer bg-body rounded-4 text-center text-white" data-event-count="{{ events | length }}">

  {% if date %}
  {# if Wednesday add 0-width space to allow for break as wed #}
  {% if date == "Wednesday"%}
  <h4 class="fw-semibold day-clamp">Wed​nesday</h4>
  {% else %}
  <h4 class="fw-semibold">{{ date }}</h4>
  {% endif %}
  {% endif %}

  <div class="day">
    {% else %}
    <h5 class="mb-0">{{date}}</h5>
    {% endif %}

    {% for e in events | sort(attribute="date") %}
    {% if grid %}
    {{ events::event_circle(e=e) }}
    {% else %}
    {{events::event_info(resource=e, large=false)}}
    {% endif %}
    {% endfor %}

    {% if grid %}
  </div>
</div>
{% endif %}
{% endmacro %}


{% macro week(w, events="", title="", grid=true) %}
{% if not events %}
{# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
{# Because Tera is annoying, lists get cast to string when passing through macros, so we have to duplicate #}
{% set events = w.pages | sort(attribute="date") %}
{% endif %}

{% set prev_day = "" %}
{% set days_events = [] %}
<div {% if grid %} class="week w-100 text-center my-4" {% endif %}>
  {% if title %} <h2>
    <a class="link-body-emphasis text-decoration-none" href="{{ w.permalink | safe }}"
      aria-label="See events on week {{ title }}">{{ title }}</a>
    (w/b {{ w.extra.base_date | date(format="%d-%b") }})
  </h2> {% endif %}
  {% if grid %}
  <div class="events d-grid justify-content-center">
    {% endif %}
    {% for e in events %}
    {% if e.extra.display_day %}{% set e_day = e.extra.display_day %}
    {% else %}{% set e_day = e.date | date(format="%A") %}{% endif %}
    {% if e_day != prev_day %}
    {# Output previous day's content #}
    {% if days_events %}
    {{ events::day(events=days_events, grid=grid) }}
    {% set_global days_events = [] %}
    {% set_global started = true %}
    {% endif %}
    {% set_global prev_day = e_day %}
    {% endif %}
    {% set_global days_events = days_events | concat(with=e) %}
    {% endfor %}

    {# Clean up remaining days_events #}
    {% if started %}
    {% if days_events %}
    {{ events::day(events=days_events, grid=grid) }}
    {% endif %}
    {% endif %}
    {% if grid %}
  </div>
  {% endif %}
</div>
{% endmacro %}

{% macro term(t, weeks="", title="", week_no=-1, archive=false, grid=true) %}
{% if not weeks %}
{# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
{# Because Tera is annoying, lists get cast to string when passing through macros, so we have to duplicate #}
{% set weeks = [] %}
{% for ss in t.subsections %}
{% set week = get_section(path=ss) %}
{% set_global weeks = weeks | concat(with=week) %}
{% endfor %}
{% set weeks = weeks | sort(attribute="extra.base_date") %}
{% endif %}
{% set added_event = false %}

{% if grid %}
<div class="term blue event-mobile" data-bs-theme="dark">
  {% if title %}<h1><a class="link-body-emphasis text-decoration-none" href="{{ t.permalink | safe }}"
      aria-label="See events in {{ title }}">{{ title }}</a>
  </h1>{% endif %}
  <div class="weeks w-100 {% if archive %}reverse{% endif %}">
    {% endif %}
    {% for week in weeks %}
    {# Compare weeks (ignore past/future) #}
    {% set e_year = week.extra.base_date | date(format="%Y") | int %}
    {% set e_week = week.extra.base_date | date(format="%W") | int %}
    {% set e_week_no = e_week + 54 * e_year %}

    {% if not archive and week_no > 0 %}
    {% if e_week_no < week_no %} {% continue %} {% endif %} {% elif week_no> 0 %}
      {% if e_week_no > week_no %}{% continue %}{% endif %}
      {% endif %}

      {% set_global added_event = true %}
      {{ events::week(w=week, title=week.title, grid=grid) }}
      {% endfor %}
      {% if not added_event %}
      <h2 class="text-center">No events {% if archive %}finished{% endif %} yet, please check back soon™</h2>
      {% endif %}
      {% if grid %}
  </div>
</div>
{% endif %}
{% endmacro %}

{% macro event_block(resource, grid) %}

{% set now = now() %}
{% set this_year = now | date(format="%Y") | int %}
{% set this_week = now | date(format="%W") | int %}
{% set week_no = this_week + 54 * this_year %}
{% set archive = resource.extra.archive | default(value=false) %}

<div id="events-block" {% if archive %}class="reverse" {% endif %}>
  {# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
  {% set events = get_section(path="events/_index.md") %}
  {% for t in events.subsections %}
  {% if t is containing("archive") %}{% continue %}{% endif %}
  {% set term = get_section(path=t) %}
  {{ events::term(t=term, title=term.title, week_no=week_no, archive=archive, grid=grid) }}
  {% endfor %}
</div>

{% endmacro %}

{% macro script() %}
<script>
  combs = {
    1: [[1, 1]],
    2: [[2, 1], [1, 2]],
    3: [[3, 1], [2, 2], [1, 3]],
    4: [[2, 2]],
    5: [[3, 2], [2, 3]],
    6: [[3, 2], [2, 3]],
  }

  function next_cell(loc, shift = 1) {
    loc[0] += shift;
    if (loc[0] >= cols) {
      loc[0] = 0;
      loc[1] += 1;
    }
  }

  function pack(i, grid, day, loc, cols) {
    if (day.dataset.eventCount > 6) return `day-${cols}-1x${cols}`;
    layouts = combs[day.dataset.eventCount];
    for (var dim of layouts) {
      // console.log(`Trying ${dim}, ${loc}`);
      if (fits(dim, loc, grid, cols)) {
        set_region(i, dim, loc, grid);
        return `day-${cols}-${dim[0]}x${dim[1]}`;
      }
    }
    return undefined;
  }

  function fits(dim, loc, grid, cols) {
    if (loc[0] + dim[0] > cols) return false;

    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) continue;
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {
        if (grid[y][x] != -1) return false;
      }
    }
    // console.log("Fits");
    return true;
  }

  function set_region(i, dim, loc, grid) {
    // console.log("Filling");
    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) grid.push(Array.from({ length: cols }, () => -1));
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {

        // console.log("Filling", x, y, i);
        grid[y][x] = i;
      }
    }
    next_cell(loc, dim[0]);
  }

  var week_events = document.getElementsByClassName("events");
  for (var week of week_events) {
    for (var cols of [2, 3]) {
      var grid = Array.from({ length: 3 }, () => Array.from({ length: cols }, () => -1));
      var pos = [0, 0];
      // console.log(`ecols ${cols}`);
      for (const [i, day] of Array.prototype.entries.call(week.children)) {
        // console.log(i, day.dataset.eventCount);
        while (true) {
          let p = pack(i, grid, day, pos, cols);
          if (!p) next_cell(pos);
          else {
            day.classList.add(p);
            break
          }
        }
        // console.log(grid);
      }
    }
  }
</script>
{% endmacro %}
