{% macro date(date) %}
{% if date | date(format="%Y") == now() | date(format="%Y") %} {{ date | date(format="%a %d %h") }}
{% else %} {{ date | date(format="%a %d %h") }}
{% endif %}
{% endmacro date %}

{% macro time(time) %}
{% if time | date(format="%H:%M") == "00:00" %} 
{% elif time | date(format="%M") == "00" %} {{ time | date(format="%l%P") }}
{% else %} {{ time | date(format="%l:%M%P") }}
{% endif %}
{% endmacro time %}

{% macro event_time(e) %}
{%- if e.extra.time -%}   
  {%- set parsed = e.date ~ " " ~ e.extra.time | parse_date -%}
{%- else -%} {%- set parsed = e.date -%}
{%- endif -%}
{{ formatters::time(time=parsed) }}
{%- endmacro event_time %}

