{%- macro date(date) -%}
{%- if date | date(format="%Y") == now() | date(format="%Y") -%} {{ date | date(format="%a %d %h") }}
{%- else -%} {{ date | date(format="%a %d %h") }}
{%- endif -%}
{%- endmacro date -%}


{%- macro time(time) -%}
{%- if time | date(format="%H:%M") == "00:00" -%} 
{%- elif time | date(format="%M") == "00" -%} {{ time | date(format="%l%P") }}
{%- else -%} {{ time | date(format="%l:%M%P") }}
{%- endif -%}
{%- endmacro time -%}


{%- macro event_time(e) -%}
{%- if e.extra.time -%}   
  {%- set parsed = e.date ~ " " ~ e.extra.time | parse_date -%}
{%- else -%} {%- set parsed = e.date -%}
{%- endif -%}
{{ formatters::time(time=parsed) }}
{%- endmacro event_time -%}


{%- macro event_time_range(e) -%}
{{ formatters::event_time(e=e) }}
{%- if e.extra.end_time -%}   
  {%- set parsed = e.date ~ " " ~ e.extra.end_time | parse_date -%}
  -{{ formatters::time(time=parsed) }}
{%- endif -%}
{%- endmacro event_time -%}


{%- macro event_date_range(e) -%}
{%- set diff_date = e.extra.end_date and e.date != e.extra.end_date -%}
{%- set diff_time = e.extra.time and e.extra.end_time and e.extra.end_time != e.extra.time -%}

{%- set start_date = formatters::event_start_date(e=e) -%}
{%- set end_date = formatters::event_end_date(e=e) -%}

{# Start of date range #}
{{ formatters::time(time=start_date) }}
{%- if diff_date -%}
  {# Output start date if end_date is different #}
  {{ formatters::date(date=start_date) }}
{%- endif -%}

{# Output dash if necessary #}
{%- if diff_time or diff_date -%}{{ " - " }}{%- endif -%}
{# Output end time & date if different #}
{%- if diff_time -%}
  {{ formatters::time(time=end_date) }}
{%- endif -%}
{{ " " }}
{%- if diff_date -%}
  {{ formatters::date(date=end_date) }}
{%- else -%}
  {{ formatters::date(date=start_date) }}
{%- endif -%}
{%- endmacro event_time -%}


{%- macro event_start_date(e) -%}
{%- set time = " " ~ e.extra.time | default(value=" ") -%}
{%- set date = e.date ~ time -%}
{%- set parsed = date | parse_date -%}
{{ parsed }}
{%- endmacro event_time -%}


{%- macro event_end_date(e) -%}
{%- set diff_date = e.extra.end_date and e.date != e.extra.end_date -%}
{%- set diff_time = e.extra.time and e.extra.end_time and e.extra.end_time != e.extra.time -%}

{%- if diff_date -%} {%- set date = e.extra.end_date -%}
{%- else -%} {%- set date = e.date -%}
{%- endif -%}

{%- if diff_time -%} {%- set time = e.extra.end_time -%}
{%- else -%} {%- set time = e.extra.time -%}
{%- endif -%}

{%- if time -%}{%- set date = date ~ " " ~ time -%}{%- endif -%}
{%- set parsed = date | parse_date -%}
{{ parsed }}
{%- endmacro event_time -%}