
{% macro block_social(title, link, body, social="", img="") %}
{# 
  Frontpage parts with a social media icon and text
  Arguments:
      title: Name of social media
      link: Link to UWCS at the social
      social: Bootstrap Icons name for the social's icon (https://icons.getbootstrap.com)
      img: If a custom SVG is needed instead, give a link here
  **Give exactly one of social or img**
#}
<a target="_blank" rel="noopener" href="{{ link }}" aria-label="Link to our {{ title }}">
<div class="social">
  {% if social %}<i class="bi bi-{{ social }} mx-lg-2"></i>{% endif %}
  {% if img %}<div class="icon"><img class="silhouette mx-lg-2" src="{{ get_url(path=img) }}" alt="{{ title }} icon"></div>{% endif %}
  <div class="d-none d-lg-block" style="width: 11em">
    <h3 class="m-0">{{ title | safe }}</h3>
    <h6>{{ body | markdown | safe  }}</h6>
  </div>
</div>
</a>
{% endmacro %}

{% macro block(social) %}
  {% if social.extra.img %}
    {{ socials::block_social(title=social.title, link=social.extra.link, body=social.content, img=social.extra.img) }}
  {% elif social.extra.social %}
    {{ socials::block_social(title=social.title, link=social.extra.link, body=social.content, social=social.extra.social) }}
  {% else %}
    {{ socials::block_social(title=social.title, link=social.extra.link, body=social.content, social=social.components | last) }}
  {% endif %}
{% endmacro %}