{% macro tier(tier, sponsors, area=22500) -%}
<div id="{{ tier | lower }}" class="sponsors">
  {% for sponsor in sponsors -%}

    {% set tier_sec = get_section(path=sponsor.ancestors | last) %}


    {% if tier_sec.title != "Bronze Sponsors" or sponsor.extra.frontpage %}
      <a href="{{ sponsor.permalink }}" aria-label="More info about {{ sponsor.title }}">
        {{ sponsors::single(sponsor=sponsor, area=area) }}
      </a>
    {% endif %}

  {% endfor -%}
</div>
{% endmacro tier %}


{% macro single(sponsor, area=22500, white=true) -%}
  {% set base_path = sponsor.path | trim_end_matches(pat="/") -%}
  {% set svg_path = base_path ~ ".svg" -%}

  {% set svg_meta = get_image_metadata(path=svg_path, allow_missing=true) %}
  {% if svg_meta %}
    {% set path = svg_path -%}
    {% set meta = svg_meta -%}
  {% else %}
    {% set path = base_path ~ ".png" -%}
    {% set meta = get_image_metadata(path=path) -%}
  {% endif %}

  {% set size = sponsors::equiv_vis_size(meta=meta, area=area) -%}

  <img {% if white %}class="white-hover"{% endif %} 
    src="{{ path }}" {{ size }} 
    style="max-width: 100%; object-fit: contain" 
    alt="Logo for {{ sponsor.title }}" loading="lazy" 
  >
{% endmacro %}

{% macro equiv_vis_size(meta, area) -%}
  {% set currarea = meta.width * meta.height -%}
  {% set sqh = meta.height * meta.height * area / currarea -%}
  {% set height = sqh | sqrt -%}
  {% set width = currarea * height / (meta.height * meta.height) | int -%}
  width={{ width }} height={{ height }}
{%- endmacro %}