{% import "macros/sqrt.html" as sqrt %}
{% macro tier(tier, sponsors, initsize=100, area=22500) %}

<div id="{{ tier | lower }}" class="sponsors">
{% for sponsor in sponsors %}

<script>
    console.log("%j", {{ sponsor }});
  </script>
<a href="{{ sponsor.permalink }}">
{% set path = sponsor.path | trim_end_matches(pat="/") %}
{% set path = path ~ ".png" %}

<img class="white-hover" src="{{ path }}" {{ sqrt::equiv_vis_size(img_path=path, area=area) }}  style="max-width: 100%; object-fit: contain">
</a>
{% endfor %}
</div>
{% endmacro tier %}

{% macro resize(gw=22500, sw=15000, trigger=true) %}
<script>
    function equalize_visual_size(elem_id, area) {
        const elem = document.getElementById(elem_id)
        for (let s of elem.children) {
            s = s.children[0];
            const h = s.height * Math.sqrt(area / (s.width * s.height)) 
            s.style.height = `${Math.round(h)}px` 
        }
    }
    {% if trigger %}
    window.addEventListener('load', function () {
        equalize_visual_size("gold", {{ gw }});
        {% if sw != 0 %}
        equalize_visual_size("silver", {{ sw }});
        {% endif %}
    })
    {% endif %}
</script>
{% endmacro resize %}