{%- macro bounds(x) -%}
  {%- set base = 1 -%}
  {%- set val = 1 -%}
  {%- for i in range(start=0, end=100000) -%}
    {%- if val > x -%}{{ base / 2 | int }}{%- break -%}
    {%- endif -%}
    {%- set_global val = val * 4 -%}
    {%- set_global base = base * 2 -%}
  {%- endfor -%}
{%- endmacro -%}

{%- macro predecessor(x) -%}
  {%- set lo = sqrt::bounds(x=x) | int -%}
  {%- set hi = lo * 2 -%}

  {%- for i in range(start=0, end=100000) -%}
    {%- if lo >= hi -%}{%- break -%}{%- endif -%}
    {%- set mid = (lo + hi) / 2 | round(method="floor") -%}
    {%- if mid * mid <= x -%}{%- set_global lo = mid + 1 -%}
    {%- else -%}{%- set_global hi = mid -%}
    {%- endif -%}
  {%- endfor -%}
  {{ hi - 1 }}
{%- endmacro -%}

{%- macro sqrt(x) -%}
  {%- set integer = sqrt::predecessor(x=x) | int -%}
  {%- set frac = (x - integer * integer) / (2 * integer) -%}
{{ integer + frac }}
{%- endmacro -%}