{% import "macros/sponsors.html" as sponsors %}
{% import "macros/parts.html" as parts %}
{% import "macros/shortcodes.html" as shortcodes %}

{% if page %} {% set resource = page %}
{% elif section %} {% set resource = section %}
{% elif term %} {% set resource = term %}
{% elif taxonomy %} {% set resource = taxonomy %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ resource.title | striptags | safe }}{% endblock %} - UWCS</title>
  {% block head %}
  {{ parts::head() }}
  {% endblock %}
  
  {% block opengraph %}
  {{ parts::opengraph(resource=resource) }}
  {% endblock %}

</head>

<body class="min-vh-100 viewport-width-100 vstack">
  {{ parts::nav() }}
  {% block breadcrumb %}
  {{ parts::bbreadcrumb() }}
  {% endblock %}
  <div id="main" class="{% block main_extra %}bg-body px-4{% endblock %}">
    {% block outercontents %}
    <article id="content" class="col-md-9 p-4 flex-grow-1">
      {% block header %}<h1>{{ resource.title | safe }}</h1>{% endblock %}
      {% block content %}{% endblock %}
    </article>
    <aside id="sidebar" class="col-md-3 flex-grow-1 py-4 pe-md-4">
      {% block sidebar %}
      <div id="sponsors">
        <h2>Our Gold Sponsors</h2>

        {% set spon_sec = get_section(path="sponsors/gold/_index.md") %}
        {{ sponsors::tier(tier="Gold", sponsors=spon_sec.pages, area=110*100) }}
      </div>
      {% endblock %}
    </aside>
    {% endblock %}
  </div>
  {{ parts::footer() }}
</body>

</html>