{% extends "base.html" %}

{% import "macros/cards.html" as cards %}
{% import "macros/roles.html" as roles %}

{% block title %}{{ resource.title }}{% endblock title %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="{{ get_url(path='scripts/clickcopy.js', cachebust=true) }}"></script>
{% endblock head %}

{% block content %}

{{ resource.content | safe }}

{%- set socats_str = roles::weight_order(data=roles_data) -%}
{%- set socats = load_data(literal=socats_str, format="json") | sort(attribute="weight") -%}

{% set peoplem = roles::map_people_to_roles(roles_data=roles_data) %}
{% set people = load_data(literal=peoplem, format="json") %}

{# Contact Emails #}
{% for socat in socats %}
  {% if socat.key == "_default" %}
    {% continue %}
  {% endif %}

  {% set cat = roles_data | get(key=socat.key) %}
  {% set_global crole_titles = [] %}
  {% set_global cpeople = [] %}

  {%- set sroles_str = roles::weight_order(data=cat.roles, wkey="cat_weight") -%}
  {%- set sroles = load_data(literal=sroles_str, format="json") | sort(attribute="cat_weight") -%}

  {% for srole in sroles %}
    {% set role = cat.roles | get(key=srole.key) %}
    {% set_global crole_title = roles::decide_plural(drole=role) %}
    {% set_global crole_titles = crole_titles | concat(with=crole_title) %}
    {% set_global cpeople = cpeople | concat(with=role.people) %}
  {% endfor %}

  {% set stroles = roles::multiple_sep(list=crole_titles) %}
  {% set stpeople = roles::multiple_sep(list=cpeople) %}
  <h3>
    <div class="icon baseline">
      <img class="exec-icon"
        src="{{ roles::icon_path(name=socat.key) }}"
        alt="{{ stroles }}"
        onerror="this.src='{{ roles::icon_path(name='all') }}';">
    </div>
    {{ stroles }}
  </h3>
  <blockquote class="contact mb-4">
    {{ shortcodes::icon(icon="bi-envelope-at-fill") }} <b>Email:</b> <a target="_blank" rel="noopener" href="mailto:{{ cat.email }}"
      aria-label="Contact our {{ stroles }}">{{ cat.email }}</a>
    <br>
  </blockquote>
  {% set cat_path = "/exec/" ~ socat.key ~ ".md" %}
  {% set cat_page_exists = load_data(path=cat_path, required=false) %}
  {% if cat_page_exists %}
    {% set cat_page = get_page(path="exec/" ~ socat.key ~ ".md") %}
    {{ cat_page.content | safe }}
  {% endif %}

  <div class="exec-cards gap-3">
    {% for p in cpeople %}
      {% for q in people %}
        {% if p == q.name %}
          {% set_global person = q %}
        {% endif %}
      {% endfor %}
      <div class="card exec-card">
        {% set path = "/images/exec-pics/" ~ person.name ~ ".jpg" | replace(from=" ",to="") | lower %}
        <img class="card-image-top"
          src="{{ get_url(path=path) }}" alt="{{ person.name }}"
          onerror="this.src='{{ get_url(path='/assets/exec-icons/default.png') }}';">

        <div class="card-body">
          <h4 class="card-title person">{{ person.name }}</h4>
          {% for ro in person.roles %}
            {% set r = roles_data[ro.cat].roles[ro.child] %}

            <div class="icon exec-icon baseline mt-2">
              <img class="fs-2"
                src="{{ roles::icon_path(name=ro.cat) }}" alt="{{ r.title }}"
                onerror="this.src='{{ roles::icon_path(name='all') }}';">
              <p class="card-text role-name ms-2 mb-0">{{ r.title }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  {% if not loop.last %}
  <hr>
  {% endif %}
{% endfor %}

{% endblock content %}