{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block title %}{{ resource.title }}{% endblock title %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
{% endblock head %}

{% macro role(name, icon) %}
<div class="icon baseline">
  <img class="fs-2" src="{{ get_url(path='assets/exec-icons/' ~ icon ~ '.svg') }}" alt="{{ name }}">
  <p class="card-text role-name ms-2">{{ name }}</p>
</div>
{% endmacro %}

{% block content %}

{{ resource.content | safe}}

{# Contact Emails #}
<div class="d-flex flex-column flex-sm-row align-items-center ps-3 pt-3 pt-sm-0 mb-3 role">
  <div class="fs-4 icon baseline">
    <img class="exec-icon" src="{{ get_url(path='assets/exec-icons/all.svg') }}" alt="all exec">
    <h3 class="my-0 mx-3">All exec<h3>
  </div>
  <a href="mailto:exec@uwcs.co.uk" aria-label="Email all our exec" class="my-3 ml-2">exec@uwcs.co.uk</a>
</div>
{% for role in section.pages %}
  <div class="d-flex flex-column flex-sm-row align-items-center ps-3 pt-3 pt-sm-0 mb-3 role">
    <div class="fs-4 icon baseline">
      <img class="exec-icon" src="{{ get_url(path='assets/exec-icons/' ~ role.slug ~ '.svg') }}" alt="{{ role.title }}">
      <h3 class="my-0 mx-3">{% if role.extra.people | length > 1 %}{{ role.extra.plural }}{% else %}{{ role.title }}{% endif %}<h3>
    </div>
    <a href="mailto:{{role.extra.email}}" aria-label="Email our {{role.title}}" class="my-3 ml-2">{{role.extra.email}}</a>
  </div>
{% endfor %}

{# People Grid #}
{% set seen = [] %}
<div class="exec-cards gap-3">

{% for role in section.pages %}
  {% for person in role.extra.people %}
    {% if person in seen %}{% continue %}{% endif %}
    {% set_global seen = seen | concat(with=person) %}
    <div class="card exec-card">
      {% set path = "/images/exec-pics/" ~ person ~ ".jpg" | replace(from=" ",to="") | lower %}
      {# the linting on this line is some of the worst i have ever seen #}
      <img src="{{ get_url(path=path) }}" alt="{{ person }}" class="card-image-top" onerror="this.src='{{get_url(path='assets/exec-icons/default.png')}}';">
      <div class="card-body">
        <h4 class="card-title person">{{ person }}</h4>
        
        {# Insert multiple roles if in multiple roles list #}
        {% if person in resource.extra.multiple_roles %}
          {% for r in resource.extra.multiple_roles[person] %}
            {% set role_icon = r | split(pat=" ") | nth(n=0) | lower %}
            {{ self::role(name=r, icon=role_icon) }}
          {% endfor %}
        {% else %} 
          {{ self::role(name=role.title, icon=role.slug) }}
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endfor %}

{% endblock content%}