{% extends "section.html" %}
{% import "macros/events.html" as events %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ config.base_url | safe }}/icon-packs/phosphor-bold.css">
{% endblock head %}

{% block subsections %}

{% set events = get_section(path="events/_index.md") %}
{% for t in events.subsections %}
  {% if t is containing("archive") %}{% continue %}{% endif %}
  {% set term = get_section(path=t) %}
  {{ events::term(t=term, title=term.title) }}
{% endfor %}

{% endblock %}