{% extends "section.html" %}
{% import "macros/events.html" as events %}
{% import "macros/logos.html" as logos %}

{% block header %}
{% set term = get_section(path=resource.ancestors | last) %}
<h1>{{ term.title }}: {{ resource.title | safe }}</h1>
{% endblock %}

{% block get_pages %}
  {{ super() }}
  {% set pages = pages | sort(attribute="date") %}
{% endblock %}


{% block pages %}
<div class="vstack schedule" style="background-image: url(&quot;/assets/bg-particles.png&quot;); background-size: contain">
  <style>
    .schedule .dots-uwcs {
      height: 4em;
      margin-top: 1em;
    }
  </style>

  {{ logos::dots_uwcs(letter="white") }}
  <div class="term blue-top pb-5" data-bs-theme="dark">
    <h1 style="margin-top: -0.5em">{{ resource.title | safe }}</h1>
    {{ events::week(w=resource, pages=pages) }}
  </div>
<div>

{% block script %}
  {{ events::script() }}
{% endblock %}

{% endblock %}