{% extends "section.html" %}
{% import "macros/events.html" as events %}
{% import "macros/logos.html" as logos %}

{% block header %}
{% set term = get_section(path=resource.ancestors | last) %}
<h1>{{ term.title }}: {{ resource.title | safe }}</h1>
{% endblock %}

{% block get_pages %}
  {{ super() }}
  {% set pages = pages | sort(attribute="date") %}
{% endblock %}


{% block pages %}
<div class="schedule" data-bs-theme="dark">
  <style>
    .schedule {
      display: flex;
      flex-direction: column;
    }

    .schedule .dots-uwcs {
      display: none;
    }

    #image .dots-uwcs {
      flex: 1;
      height: 4em;
      margin: 1em 0;
      display: block;
    }

    #image {
      aspect-ratio: 1 / 1;
      width: 690px;
      height: 690px;
      background-color: var(--bs-body-bg, {{ formatters::colour(colour="grey") }}); 
      background-image: url('{{ get_url(path="assets/bg-particles.png") }}'); 
      background-size: contain;
    }

    #image .term {
      min-height: 550px;
    }
  </style>

  {{ logos::dots_uwcs(letter="white") }}
  <div class="term blue-top pb-3" data-bs-theme="dark" style="margin-top: 40px">
    <h1 style="margin-top: -0.5em">{{ resource.title | safe }}</h1>
    {{ events::week(w=resource, pages=pages) }}
  </div>
</div>

{% block script %}
<script>
  function capture() {    
    const options = {
      method: 'POST',
      body: JSON.stringify({
        html: document.children[0].outerHTML.replaceAll("http://127.0.0.1:1111", "https://uwcs.co.uk"),
        css: "",
        selector: "#image"
      }),
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Basic ' + btoa("{{ config.extra.htmltoimg_userid }}:{{ config.extra.htmltoimg_apikey }}")
      }
    }
    
    fetch('https://hcti.io/v1/image', options)
      .then(res => {
        if (res.ok) {
          return res.json();
        } else {
          return Promise.reject(res.status);
        }
      }).then(data => {
        console.log(data.url);
        window.location.replace(data.url);
      }).catch(err => console.error(err));
  }

  addEventListener("load", (event) => {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has("image")) {
      const sch = document.getElementsByClassName("schedule")[0];
      const b = document.getElementsByTagName("body")[0];
      const newsch = b.insertAdjacentElement("afterbegin", sch);
      newsch.id = "image";

      while (b.children.length > 1) {
        b.removeChild(b.lastChild);
      }

      if (urlParams.has("capture")) {
        capture();
      }
    }
  })
</script>
{{ events::script() }}
{% endblock %}

{% endblock %}