{% extends "section.html" %}
{% import "macros/events.html" as events %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ config.base_url | safe }}/icon-packs/phosphor-bold.css">
{% endblock head %}

{% block sidebar %}<div class="alert alert-secondary" role="alert">
  {% set link = config.base_url ~ "/uwcs.ical" %}
  <i class="bi bi-calendar me-2"></i> <b>Add to your calendar</b><br>
  Add <a href="{{ link }}">{{ link }}</a> as a calendar source
</div>
{{ super() }}
{% endblock %}

{% block subsections %}

{% set now = now() %}
{% set this_year = now | date(format="%Y") | int %}
{% set this_week = now | date(format="%W") | int %}
{% set week_no = this_week + 54 * this_year %}
{% set archive = resource.extra.archive | default(value=false) %}

<div id="events-block" {% if archive %}class="reverse"{% endif %}>
{# MIRROR ANY CHANGES HERE TO uwcs.ical fetching #}
{% set events = get_section(path="events/_index.md") %}
{% for t in events.subsections %}
  {% if t is containing("archive") %}{% continue %}{% endif %}
  {% set term = get_section(path=t) %}
  {{ events::term(t=term, title=term.title, week_no=week_no, archive=archive) }}
{% endfor %}
</div>

{% block script %}
  {{ events::script() }}
{% endblock %}

{% endblock %}