{% extends "page.html" %}
{% import "macros/events.html" as events %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ config.base_url | safe }}/icon-packs/phosphor-bold.css">
<style>
@media (max-width: 992px) {
  #main {
    flex-direction: column !important;
  }
  #content, #sidebar {
    width: 100%;
  }
}
</style>
{% endblock head %}

{#
Variables:
  start_week_index = index of earliest week marked as 22/23 in data (~start of aug, week -8)
  end_week_index = index of last week marked as 22/23 in data (~end of sept, week 52)
  year_start = date of start of week 0 - start of the teaching year
  start_cal_week = calendar week of week 0 (term week and cal week difference)

  prev_week_index & prev_week_number = index and week numb of week of previous event  
  prev_week_term = Term name for previous event (for header insertion)
  last_week_term = Term name for week preceding current (for start of term week)
  term_start_week = Week (before) the current term starts on -- so week count is not over the whole year
#}

{% block content %}
{{ resource.content | safe}}

{% set data = load_data(url="https://tabula.warwick.ac.uk/api/v1/termdates/weeks", format="json") %}
{# Get start of year week #}
{% for w in data.weeks %}
  {# Find index of earliest week of academic year (~start of august) #}
  {% if w.academicYear == config.extra.academic_year and not start_week_index %}
    {% set_global start_week_index = loop.index0 %}
  {% endif %}
  {# Find index of week 0 (start of term) #}
  {% if w.academicYear == config.extra.academic_year and w.weekNumber == 0 %}
      {% set_global year_start = w.start %}
      {% break %}
  {% endif %}
{% endfor %}

{% set start_cal_week= year_start | date(format="%W") | int %}

{# Find index of latest week of academic year (~end of sept, should be week 0 + 52) #}
{% for w in data.weeks | slice(start=start_week_index) %}
{% if w.academicYear != config.extra.academic_year %}
    {% set_global end_week_index = start_week_index + loop.index0 - 1 %}
    {% break %}
{% endif %}
{% endfor %}
</ul>

{# {{ year_start }} i {{ start_week_index }} yw {{ start_cal_week}}<br> #}
{# ei {{ end_week_index }}<br> #}

{# Initial week #}
{% set prev_week_index = start_week_index %}
{% set started = false %}
{% set prev_day = "" %}
{% set prev_week_number = -1000 %}
{% set prev_week_term = "" %}
{% set last_week_term = "Pre-term vacation" %}
{% set term_start_week = 0 %}
{% set days_events = [] %}

{# Output each event #}
{% for e in section.pages | reverse %}

  {% set e_day = e.date | date(format="%A") %}
  {% if e_day != prev_day %}
    {# Output previous day's content #}
    {% if days_events %}
      {{ events::day(events=days_events) }}
      {% set_global days_events = [] %}
      {% set_global started = true %}
    {% endif %}

  {# Find new term, week and day #}

    {# Get event week #}
    {% set e_cal_week = e.date | date(format="%W") | int %}
    {% set e_week = e_cal_week - start_cal_week%}
    {% set e_week = (e_week+52) % 52 %}
    {% if e.date | date(format="%s") | int < year_start | date(format="%s") | int %}
      {% set e_week = e_week - 52 %}
    {% endif %}
    
    {# If different week from last, end current week's list then start new #}
    {% if e_week != prev_week_number %}
      {% for w in data.weeks | slice(start=prev_week_index, end=end_week_index+1) %}
        {% if loop.index == end_week_index %}{{ throw(message="Event outside of term weeks") }}{% endif %}
        
        {# Find start week of term (update number when term string changes) #}
        {% set w_parts = w.name | split(pat=", ") %}
        {% if w_parts[0] != last_week_term %}
          {% set_global term_start_week = w.weekNumber - 1 %}
          {% set_global last_week_term = w_parts[0] %}
        {% endif %}
        {# {{ w.weekNumber }} {{ w_parts[0] }} {{ last_week_term }} {{ term_start_week }}<br> #}

        {# Find week (after current) with correct week number #}
        {% if e_week == w.weekNumber %}
          {% set_global curr_week = w %}
          {% set_global curr_week_index = prev_week_index + loop.index0 %}
          {% break %}
        {% endif %}
      {% endfor %}

      {# Output term header if different #}
      {% set w_parts = curr_week.name | title | split(pat=", ") %}
      {% if started %} {{ events::end_week() }} {% endif %}
      {% if curr_week.weekNumber == 0 or w_parts[0] != prev_week_term %}
        {% if started %} {{ events::end_term() }} {% endif %}
        {{ events::start_term() }}
        {{ events::term_heading(curr_week=curr_week, week_term=w_parts[0]) }}
      {% endif %}
      {{ events::start_week(curr_week=curr_week, term_week_no=curr_week.weekNumber - term_start_week) }}
      {# wi {{curr_week_index}} wn {{curr_week_index}} {{ curr_week.weekNumber }} {{ curr_week.start }} {{ curr_week.end }} #}

      {% set_global prev_week_index = curr_week_index %}
      {% set_global prev_week_number = curr_week.weekNumber %}
      {% set_global prev_week_term = w_parts[0] %}
    {% endif %}
    {% set_global prev_day = e_day %}
  {% endif %}
  
  {# Add current event to list of current/new day #}
  {% set_global days_events = days_events | concat(with=e) %}
{% endfor %}
</ul>

{{ events::end_week() }}
{{ events::end_term() }}

<script>
  combs = {
    1: [[1, 1]],
    2: [[2, 1], [1, 2]],
    3: [[3, 1], [2, 2], [1, 3]],
    4: [[2, 2]],
    5: [[3, 2], [2, 3]],
    6: [[3, 2], [2, 3]],
  }

  function next_cell(loc, shift = 1) {
    loc[0] += shift;
    if (loc[0] >= cols) {
      loc[0] = 0;
      loc[1] += 1;
    }
  }

  function pack(i, grid, day, loc, cols) {
    if (day.dataset.eventCount > 6) return `day-${cols}-1x${cols}`;
    layouts = combs[day.dataset.eventCount];
    for (var dim of layouts) {
      console.log(`Trying ${dim}, ${loc}`);
      if (fits(dim, loc, grid, cols)) {
        set_region(i, dim, loc, grid);
        return `day-${cols}-${dim[0]}x${dim[1]}`;
      }
    }
    return undefined;
  }

  function fits(dim, loc, grid, cols) {
    if (loc[0] + dim[0] > cols) return false;

    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) continue;
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {
        if (grid[y][x] != -1) return false;
      }
    }
    console.log("Fits");
    return true;
  }

  function set_region(i, dim, loc, grid) {
    console.log("Filling");
    for (let y = loc[1]; y < loc[1] + dim[1]; y++) {
      if (y >= grid.length) grid.push(Array.from({ length: cols }, () => -1));
      for (let x = loc[0]; x < loc[0] + dim[0]; x++) {

        console.log("Filling", x, y, i);
        grid[y][x] = i;
      }
    }
    next_cell(loc, dim[0]);
  }

  var week_events = document.getElementsByClassName("events");
  for (var week of week_events) {
    for (var cols of [2, 3]) {
      var grid = Array.from({ length: 3 }, () => Array.from({ length: cols }, () => -1));
      var pos = [0, 0];
      console.log(`ecols ${cols}`);
      for (const [i, day] of Array.prototype.entries.call(week.children)) {
        console.log(i, day.dataset.eventCount);
        while (true) {
          let p = pack(i, grid, day, pos, cols);
          if (!p) next_cell(pos);
          else {
            day.classList.add(p);
            break
          }
        }
        console.log(grid);
      }
    }
  }
</script>

{% endblock %}
