{% extends "section.html" %}
{% import "macros/events.html" as events %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ config.base_url | safe }}/icon-packs/phosphor-bold.css">
{% endblock %}

{% block header %}
{{ super() }}

{% set term = get_section(path=resource.ancestors | last) %}
<h3>{{ term.title }}</h3>
{% endblock %}

{% block get_pages %}
  {{ super() }}
  {% set pages = pages | sort(attribute="date") %}
{% endblock %}


{% block pages %}
{{ resource.content | safe}}

<div class="term blue w-100 vstack align-items-center p-3 gap-4">
  {{ events::week(w=resource, pages=pages) }}
</div>

{% block script %}
  {{ events::script() }}
{% endblock %}

{% endblock %}