{% extends "section.html" %}

{% import "macros/cards.html" as cards %}

{% block title %}{{ resource.title }}{% endblock title %}
{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="{{ get_url(path='scripts/clickcopy.js', cachebust=true) }}"></script>
{% endblock head %}

{% block secbody %}

{{ resource.content | safe}}

{% set exec_sec = get_section(path="exec/_index.md") %}

{% for role in exec_sec.pages %}
<h3>
  <div class="icon"><img src="/assets/exec-icons/{{ role.slug }}.svg"></div>
  {{ role.title }}: {{ role.extra.people | join(sep=", ") }}
</h3>
<blockquote class="contact mb-4">
  Email: <a target="_blank" rel="noopener" href="mailto:{{ role.extra.email }}"
    aria-label="Contact our {{ role.title }}">{{ role.extra.email }}</a>
  <br>
</blockquote>
{{ role.content | safe }}
<hr>
{% endfor %}

</script>
<style>
  code.discord {
    cursor: pointer;
  }
</style>

{% endblock secbody %}