{% extends "base.html" %}
{% import "macros/front.html" as front %}
{% import "macros/sponsors.html" as sponsors %}
{% import "macros/cards.html" as cards %}
{% import "macros/socials.html" as socials %}

{% block head %}
<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-600-universityofwarwick-only.woff2" crossorigin />
<link rel="preload" as="font" type="font/woff2" href="/fonts/montserrat-700-computingsociety-only.woff2" crossorigin />
<style>
  @font-face {
    font-display: swap;
    font-family: 'Title1Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat-600-universityofwarwick-only.woff2') format('woff2');
  }

  @font-face {
    font-display: swap;
    font-family: 'Title2Montserrat';
    font-weight: 700;
    src: url('/fonts/montserrat-700-computingsociety-only.woff2') format('woff2');
  }
</style>

{{ super() }}
{% endblock %}

{% block title %}{{ section.title }}{% endblock title %}
{% block header %}{% endblock header %}
{% block main_extra %}{% endblock %}
{% block outercontents %}
<article id="content" class="w-100 bg-transparent">

  {# Main Content #}
  <div class="alert alert-info" role="alert">
    <i class="bi bi-info-circle-fill icon"></i> Thank you to everybody that provided us feedback for Term 1, we've compiled responses you can view <a rel="noopener" target="_blank" href="news/2026-01-12-term-1-feedback-responses/">here</a>!
  </div>

  {{ front::hero() }}
  <div class="modal fade" id="announcementModal" tabindex="-1" aria-labelledby="announcementModalLabel" aria-hidden="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="announcementModalLabel"><a href="https://events.uwcs.co.uk/2025/2/7/the-great-computing-ball-2026/">GREAT COMPUTING BALL TICKETS</a> & <a href="https://events.uwcs.co.uk/2025/2/5/wasd-2026:-10th-anniversary/">WASD SUBMISSIONS</a></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="mb-3">
              <img src="{{ get_url(path='assets/wasd-flyer.png' )}}" class="img-fluid rounded mb-2" alt="WASD">
              <h5>Warwick's Awesome Speedruns and Demos' 10th anniversary, in support of <a href="https://specialeffect.org">SpecialEffect!</a></h5>
              <h5>See the schedule of game runs for the live event <a href="https://warwickspeed.run/schedule">here</a>! We'll be in the SU Atrium, and streaming via <a href="https://twitch.tv/warwickspeedrun">Twitch</a>!</h5>
              <p class="small text-muted">14th February - 15th February</p>
              <a href="https://warwickspeed.run/" class="btn btn-primary btn-sm w-100">WASD 2026: Event Info & Guides</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  {{ section.content | safe}}

  {# Socials #}
  <div class="w-100 vstack align-items-center my-5 pt-5">
    <h1>Our Socials</h1>

    <div id="socials" class="mb-5 col-md-11 gap-3 mx-4">
      {% set socials = get_section(path="socials/_index.md") %}
      {% for social in socials.pages %}
        {% if social.extra.main_skip %}{% continue %}{% endif %}
        {{ socials::block(social=social) }}
      {% endfor %}
    </div>
  </div>

  {# Sponsors #}
  <div class="w-100 vstack align-items-center my-5 pb-5">
    <h1>Our Sponsors</h1>

    <div id="sponsors" class="col-lg-10">

      {% set gold_spon_sec = get_section(path="sponsors/gold/_index.md") %}
      {{ sponsors::tier(tier="Gold", sponsors=gold_spon_sec.pages, area=25000) }}
      {% set silver_spon_sec = get_section(path="sponsors/silver/_index.md") %}
      {{ sponsors::tier(tier="Silver", sponsors=silver_spon_sec.pages, area=17500) }}
      {% set bronze_spon_sec = get_section(path="sponsors/bronze/_index.md") %}
      {{ sponsors::tier(tier="Bronze", sponsors=bronze_spon_sec.pages, area=15000) }}
      
    </div>
  </div>


  <div class="blue-top">
    {# Events #}

    <a href="https://events.uwcs.co.uk" class="link-body-emphasis text-decoration-none mb-4" aria-label="View all upcoming events" target="_blank">
      <h1>Events this week</h1>
    </a>
    <div class="row">
      <div class="col-12 col-md-6">
        <iframe src="https://events.uwcs.co.uk/stardust/front/" style="border: 0" frameborder="0" class="mb-4 rounded-4"></iframe>
      </div>
    </div>

    <script>
      window.addEventListener("message", function(event) {
        if (event.data.type === "setHeight") {
          document.querySelector("iframe").style.height = event.data.height + "px";
        }
      });
    </script>

    {# News #}
    {% set news_sec = get_section(path="news/_index.md") %}
    {% set pages = news_sec.pages %}
    {% if pages %}
    <a href="{{ get_url(path='news') }}" class="link-body-emphasis text-decoration-none" aria-label="View all latest news">
      <h1>Latest News</h1>
    </a>

    <div class="posts pt-2 row gap-3 m-3 mt-0">
      {% for page in pages %}
      {% if loop.index > 3 %} {% break %} {% endif %}
      <!-- Card for each page -->
      {{ cards::news_card(page=page) }}
      {% endfor %}

    </div>

    {%endif%}

</article>
{% endblock content%}