{% extends "base.html" %}

{% import "macros/merch.html" as merch %}

{% block title %}{{ section.title }}{% endblock title %}

{% block head %}
{{ super() }}
<script src="{{ get_url(path='scripts/countdown.js', cachebust=true) }}"></script>
{% endblock head %}

{% block outercontents %}

<article id="content" class="py-4">
{% block secbody %}{{ section.content | safe}}{% endblock %}

<hr>
<div class="posts p-2 gap-3 vstack">
  
  <div class="accordion while-open" id="main-accordion">
  {% for sub in section.subsections %}
    {% set subsect = get_section(path=sub) %}
    {% if subsect.pages and not subsect.extra.hide %}
      {{ merch::cat_accordion(section=subsect, first=loop.first) }}
    {% endif %}
    {% endfor %}
  </div>
</div>
<div>
{% endblock outercontents%}