{% extends "base.html" %}

{% import "macros/merch.html" as merch %}

{% block title %}{{ section.title }}{% endblock title %}

{% block head %}
<script>
  const startDate = new Date("{{ section.extra.start }}");
  const endDate = new Date("{{ section.extra.end }}");
  const preview = {{ section.extra.preview }};
</script>

{{ super() }}
<script src="{{ get_url(path='scripts/countdown.js', cachebust=true) }}"></script>
{% endblock head %}

{% block outercontents %}
<article id="content" class="py-4 flex-grow-1">

{% if section.extra.preview %}
  <div class="alert alert-warning" role="alert">
    This shop is in preview, therefore all designs and prices are subject to change.
  </div>
{% else %}
  <div class="alert alert-warning" id="countdown-alert" role="alert" hidden>
    This shop has <span class="countdown"></span>.
  </div>
{% endif %}

{% block secbody %}{{ section.content | safe}}{% endblock %}

<hr>
<div class="posts p-2 gap-3 vstack">
  
  <div class="accordion while-open" id="main-accordion">
    {% for sub in section.subsections %}
      {% set subsect = get_section(path=sub) %}
      {% if subsect.pages and not subsect.extra.hide %}
        {{ merch::cat_accordion(section=subsect, first=loop.first, preview=section.extra.preview) }}
      {% endif %}
    {% endfor %}
  </div>
  <div class="while-closed" hidden>
    <p>Thanks for ordering! UWCS Merch Shop is now closed. We'll be ordering all the items ASAP.</p>
  </div>
</div>
<div>
</article>
{% endblock outercontents%}