{% extends "base.html" %}
{% import "macros/formatters.html" as formatters %}
{% block title %}{{ resource.title }}{% endblock title %}
{% block content %}

{% if resource.date %}
  {{ formatters::date(date=resource.date) }}
{% endif %}
{% if resource.taxonomies %}
  {% for tax, terms in resource.taxonomies %}
    {% for term in terms %}
    <a class="badge bg-secondary text-decoration-none ms-1" 
      href="{{ config.base_url | safe }}/{{ tax | slugify }}/{{ term | slugify }}"
      aria-label="See other pages with {{ tax }} {{ term }}">
    {{ term }} 
    </a>
    {% endfor %}
  {% endfor %}
{% endif %}

<hr>
{{ resource.content | safe}}
{% endblock content%}