{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block content %}

{% block secbody %}{{ resource.content | safe}}{% endblock %}

<hr>
{% block get_pages %}
<!-- Use paginator pages if exists -->
{% if paginator %}
{% set pages = paginator.pages %}
{% elif resource.pages %}
{% set pages = resource.pages %}
{% endif %}
{% endblock %}

{% block pre_pages %}{% endblock %}

<div class="posts p-2 gap-3 vstack">
{# List subsections too? #}
{% if resource.subsections and not paginator  %}
  {% if resource.extra.reverse_subsections %}{% set subsec = resource.subsections | reverse %}
  {% else %}{% set subsec = resource.subsections %} {% endif %}
  {% for ss in subsec%}
  {% set page = get_section(path=ss) %}
  {{ cards::news_card(page=page, sum_len=250) }}
  {% endfor %}
{% endif %}
  
{% if pages %}
  {% if resource.extra.reverse_pages %}{% set pages = pages | reverse %}{% endif %}
  {# Main pages #}
  {% for page in pages %}
    {{ cards::news_card(page=page, sum_len=250) }}
  {% endfor %}
  {%endif%}
</div>

{% if paginator %}
{% include "parts/pagination.html" %}
{% endif %}

{% block post_pages %}{% endblock %}

{% endblock content%}