{% extends "section.html" %}

{% block pre_pages %}
{% if section.subsections %}

  {% if not section.extra.reverse_subsections %} {% set subsecs = section.subsections %}
  {% else %} {% set subsecs = section.subsections | reverse %}
  {% endif %}

  <div class="posts p-2 gap-3 vstack">
      {% for s in subsecs %}
        {% set ss = get_section(path=s) %}
        <!-- Card for each page -->
        {{ cards::news_card(page=ss, sum_len=250) }}
      {% endfor %}
  </div>
{%endif%}
{% endblock %}