{% extends "base.html" %}

{% import "macros/cards.html" as cards %}

{% block title %}{{ section.title }}{% endblock title %}
{% block content %}

{% block secbody %}{{ section.content | safe}}{% endblock %}

<hr>
<div class="posts p-2 gap-3 vstack">
  {% for sub in section.subsections %}
    {% set subsect = get_section(path=sub) %}
    {% if subsect.pages %}
      <h2><a class="text-decoration-none text-body" href="{{ subsect.permalink }}">{{ subsect.title }}</a></h2>
      {% for page in subsect.pages %}
        {{ cards::news_card(page=page, sum_len=250) }}
      {% endfor %}
    {% endif %}
    {% endfor %}
</div>

{% endblock content%}