{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock title %}

{% block header %}{% endblock header %}
{% block content %}

{% set tier_sec = get_section(path=page.ancestors | last) %}

<a id="img" href="{{ page.extra.link }}" class="d-block m-3 mt-0 mb-5" style="max-width: 400px">
    {{ sponsors::single(sponsor=page, area=200*150, white=false) }}
</a>

<h1>{{ page.title }}</h1>
<a class="ms-auto badge text-decoration-none fs-5" 
    {% if tier_sec.extra.colour %}style="background-color: {{ tier_sec.extra.colour }}"{% endif %}
    href="{{ tier_sec.permalink }}"
>
    {{ tier_sec.title | trim_end_matches(pat=" Sponsors")}}
</a>

<b class="ms-3 fs-5"><a href="{{ page.extra.link }}">Visit website</a></b>

<hr>
{{ page.content | safe}}

{% endblock content%}