{% extends "base.html" %}
{% import "macros/sqrt.html" as sqrt %}
{% block title %}{{ resource.title }}{% endblock title %}
{% block content %}

{{ sqrt::bounds(x=5) }}
{{ sqrt::bounds(x=17) }}
{{ sqrt::bounds(x=147) }}
{{ sqrt::bounds(x=516) }}
{{ sqrt::bounds(x=1943) }}
{{ sqrt::bounds(x=4934) }}
{{ sqrt::bounds(x=10482) }}

{{ sqrt::predecessor(x=5) }}
{{ sqrt::predecessor(x=17) }}
{{ sqrt::predecessor(x=147) }}
{{ sqrt::predecessor(x=516) }}
{{ sqrt::predecessor(x=1943) }}
{{ sqrt::predecessor(x=4934) }}
{{ sqrt::predecessor(x=10482) }}

{{ sqrt::sqrt(x=5) }}
{{ sqrt::sqrt(x=17) }}
{{ sqrt::sqrt(x=147) }}
{{ sqrt::sqrt(x=516) }}
{{ sqrt::sqrt(x=1943) }}
{{ sqrt::sqrt(x=4934) }}
{{ sqrt::sqrt(x=10482) }}

{{ resource.content | safe}}
{% endblock content%}