{% macro filler(cols=3) %}
<div class="filler day-{{cols}}-show event-outer bg-body rounded-4 text-center text-white" data-event-count="1">
  <h3 class="fw-semibold">Join Us</h3>
  <ul class="nav list-unstyled d-flex align-items-center">
    {% set socs = get_section(path="socials/_index.md") %}
    {% for social in socs.pages %}
    {% if social.extra.schedule_skip %}{% continue %}{% endif %}
      {{ filler::filler_social(social=social) }}
    {% endfor %}
  </ul>
  <h5 class="mb-0">go.uwcs.uk/links</h5>
</div>
{% endmacro %}


{% macro filler_social(social) %}
<div class="filler-social d-flex fs-4 align-items-center" style="line-height: 1.2">
  {% if social.extra.img %}
    <div class="icon"><img class="silhouette me-2" src="{{ get_url(path=social.extra.img) }}"></div>
  {% elif social.extra.social %}
    <i class="bi bi-{{ social.extra.social }} me-2"></i>
  {% else %}
  <i class="bi bi-{{ social.components | last }} me-2"></i>
  {% endif %}
  
  <div class="fs-6">
    <p class="h6 m-0">{{ social.extra.short | safe }}</p>
  </div>
</div>
{% endmacro %}