.role-header {
    background-color: var(--bs-border-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.role-header>* {
    width: 50%;
    margin: 1vh 0;
}

.exec-title img {
    margin: 0 1vw;
    transform: scale(1.5);
}

.exec-title h3 {
    margin: 0;
}

.exec-cards {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 1rem 0;
    justify-content: center;
}