.role {
    display: flex;
    align-items: center;
}

.role>* {
    margin: 1vh 0;
}

.role a {
    margin-left: 0.5vw;
}

.exec-title img {
    margin: 0 1vw;
    transform: scale(1.5);
}

.exec-title h3 {
    margin: 0;
}

.exec-cards {
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin: 1rem 0;
}

.exec-card {
    overflow: hidden;
}