// Icons
.icon {
    display: inline-flex;
    min-width: 1em;
    position: relative;
    box-sizing: content-box;
    vertical-align: middle;
    top: -0.1em;
}

.icon svg,
.icon img,
.icon i {
    width: 1em;
    box-sizing: content-box;
    fill: currentColor;
}