.event-circle {
    @extend .m-2, .text-center, .fs-5;
    width: 11em;
    font-family: "Montserrat";
    color: white;
    aspect-ratio: 1 / 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 1000000px;
    line-height: 110%;

    & .event-icon {
        font-size: 4em;
    }

    & .event-title {
        @extend .fw-semibold, .two-line-clamp;
        font-size: 1.1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-bottom: 0.25em;
        margin-top: 0.4em;
    }

    & .event-extras {
        @extend .fw-medium, .three-line-clamp;
        font-size: 0.95em;
        margin-left: 2em;
        margin-right: 2em;
    }
}