h1,
h2,
#info strong {
    @extend .fw-semibold;
}

blockquote,
pre {
    @extend .bg-body-tertiary, .border-start, .ms-3, .p-2, .ps-3, .mb-2;
}

code {
    @extend .text-body;
}

p:last-child {
    margin-bottom: 0px;
}

table {
    @extend .table;
}

#main {
    @extend .container-lg, .w-100, .d-flex, .flex-column, .flex-md-row, .p-0, .flex-grow-1, .gap-3;
}

#nav {
    @extend .w-100, .navbar, .sticky-top, .navbar-expand-lg, .bg-body, .border-bottom, .border-primary, .border-4;
    min-width: fit-content;
}

#foot {
    @extend .w-100, .container-lg, .d-flex, .flex-wrap, .justify-content-around, .gap-2, .py-3, .border-top, .bg-body;
}

.frame-content {
    @extend .bg-body, .p-4;
}

.sponsors {
    @extend .col-lg-10, .gap-3, .d-flex, .flex-wrap, .justify-content-evenly, .align-items-center, .p-3;
}

#content>p>img,
#content>p>svg {
    max-width: 100%;
}

body {
    background-image: url("assets/bg-particles.png");
    background-repeat: repeat;
    background-position: center top;
    background-size: 50vmax;
    z-index: 1;
}